/LPCP
/parserV0
LiteralTokens.hi
LiteralTokens.o
MemoryState.hi
MemoryState.o
Utils.hi
Utils.o
Parser.hi
Parser.o
Parser.exe
Expressions.hi
Expressions.o
Tokens.o
Tokens.hs
Tokens.hi
CleanString.hi
CleanString.o
log.txt